main {
    display: flex;
    justify-content: center;
}

section {
    width: 33%;
    margin: 5px;
    border-right: 1px solid #ddd;
    padding: 10px;
}

.list {
    text-align: center;
    padding: 0;
}

.list li {
    line-height: 2;
    letter-spacing: 1px;
    padding: 4px;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
}

.list li:nth-of-type(3) {
    border-bottom: none;
}

#social {
    float: left;
    width: 35%;
}

#social ul li {
    line-height: 2;
}

#contact {
    float: right;
    width: 35%;
}

#contact ul li {
    line-height: 2;
}
