/* Text Size */
.heading-1 {
    font-size: 55px;
}

/* Card */
.card {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 300px;
    padding: 30px 10px;
}

/* box shadow */
.box-shadow {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* button */
.btn {
    border: none;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background-color: #2a4;
    color: #fff;
}

.btn-outline {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}

.btn-dark, .bg-dark {
    background-color: #111;
    color: #fff;
}

/* merk and price */
.merk, .price {
    border-radius: 10px;
    font-weight: 700;
    padding: 5px 10px;
}

.merk {
    background-color: #08d;
    color: #fff;
}

.price {
    background-color: #fc8;
}