<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HTML Day 4</title>
        <style>
            * {
                box-sizing: border-box;
            }
            body {
                font-family: Arial, Helvetica, sans-serif;
                color: #333;
                background-color: #f4f4f4;
                line-height: 1.4;
            }

            ul {
                list-style: none;
            }

            a {
                text-decoration: none;
            }

            /* utilities */
            .container {
                max-width: 80%;
                margin: auto;
            }

            .card {
                border: 1px solid #ddd;
                padding: 10px;
                margin-bottom: 10px;
                border-radius: 4px;
            }

            .text-bold {
                font-weight: 700;
            }

            .text-center {
                display: block;
                text-align: center;
            }

            .text-italic {
                font-style: italic;
            }

            .box-shadow {
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
            }

            .bg-dark {
                background-color: #333;
                color: #fff;
            }

            .bg-dark a {
                color: #fff;
            }

            .bg-dark a:hover {
                color: #fc8;
                background-color: #555;
            }

            .current {
                font-weight: 700;
                background-color: #555;
            }

            .heading-1 {
                font-size: 60px;
            }

            .text-primary {
                color: #fc8;
            }

            .lead {
                font-size: 1.2rem;
            }

            .btn {
                border: none;
                background-color: #333;
                padding: 13px 20px;
                font-size: 1rem;
                border-radius: 5px;
                cursor: pointer;
                color: #fff;
            }

            /* Navbar */
            .navbar ul {
                display: flex;
                padding: 0;
            }

            .navbar ul a {
                display: block;
                padding: 13px 20px;
                margin: 0 5px;
            }

            #header {
                background-color: #333;
                color: #fff;
            }

            #main {
                width: 69%;
                float: left;
            }

            #aside {
                width: 29%;
                float: right;
            }

            .clr {
                clear: both;
            }

            ul {
                list-style: none;
            }

            #footer {
                background-color: #333;
                padding: 5px;
                color: #fff;
            }

            /* img */
            #aside img {
                width: 48px;
                display: inline-block;
                padding: 5px;
            }

            #aside ul li a {
                display: flex;
                align-items: center;
            }

            #aside #aside-img {
                display: block;
                margin: auto;
                width: 96px;
            }

            /* Table */

            #products table {
                border-collapse: collapse;
                width: 100%;
                margin: auto;
                margin-bottom: 30px;
            }

            #products table th,
            #products table td {
                border: 1px solid #ddd;
                text-align: center;
                padding: 13px 20px;
            }

            #products table tr:nth-child(even) {
                background-color: #fff;
            }

            #products table tbody tr:hover {
                background-color: #ccc;
            }

            #products table tr td ul {
                padding: 0;
            }

            #products table tbody tr td img {
                width: 150px;
                height: 100%;
            }

            #products table tr td ul {
                list-style: circle;
                margin-left: 1rem;
            }

            #products .card {
                width: auto;
            }

            #products .dl-group {
                padding-bottom: 10px;
                margin-bottom: 10px;
            }
            
            /* Form */

            form {
                margin-bottom: 20px;
            }
            .form-group {
                padding-bottom: 10px;
                margin-bottom: 10px;
            }

            .form-group label {
                color: #333;
                display: block;
                padding-bottom: 5px;
            }

            .form-group input {
                width: 100%;
                padding: 10px;
                font-size: 1rem;
                border: 1px solid #ddd;
                border-radius: 5px;
            }

            .form-group input:focus {
                outline: none;
                border-color: #fc8;
                font-size: 1rem;
            }

            .form-group textarea {
                width: 100%;
                height: 300px;
                border: 1px solid #ddd;
                border-radius: 5px;
                resize: none;
            }

            .form-group textarea:focus {
                outline: none;
                border-color: #fc8;
            }

            .form-group-radio {
                padding-bottom: 10px;
                margin-bottom: 10px;
            }

            .form-group-radio>label {
                display: block;
                margin-bottom: 5px;
                padding-bottom: 5px;
            }

            .form-group select {
                width: 100%;
                padding: 10px;
                font-size: 1rem;
                border: 1px solid #ddd;
            }

            .form-group.checkbox label {
                display: inline;
                width: auto;
            }

            .form-group.checkbox input {
                display: inline;
                width: auto;
            }

            /* Responsive */
            @media (max-width: 820px) {
                .navbar ul {
                flex-direction: column;
                align-items: center;
                }
            }

        </style>
    </head>
    <body>
        <!-- Header -->
        <nav class="navbar bg-dark">
            <div class="container">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li>
                        <a href="/wishlist"
                            >Wish List</a
                        >
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        <a href="/products">Products</a>
                    </li>
                    <li><a class="current" href="/products/new">New Product</a></li>
                </ul>
            </div>
        </nav>

        <main>

            <section id="products">
                <div class="container">
                    <div class="product-group">
                        <!-- Form Product -->
                        <form action="/products" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="product-name">Product Name</label>
                                <input type="text" id="product-name" name="name" placeholder="Enter Product Name" required minlength="4" maxlength="25" >
                            </div>
                            <div class="form-group">
                                <label for="product-description">Product Description</label>
                                <textarea name="description" id="product-description" required maxlength="250" minlength="5"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="product-img">Product Image</label>
                                <input type="file" accept="image/*" id="product-img" name="img" required>
                            </div>
                            <div class="form-group">
                                <label for="product-category">Product Category</label>
                                <select name="category" id="product-category">
                                    <% for (let category of categories) { %> 
                                        <option value="<%= category %>"><%= category %></option>
                                    <% } %> 
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="product-price">Product Price</label>
                                <input type="number" id="product-price" name="price" required step="0.01" min="0">
                            </div>
                            <div class="form-group">
                                <label for="product-from">Product From</label>
                                <input type="text" name="from" id="product-from" minlength="4" maxlength="25">
                            </div>
                            <div class="form-group">
                                <label for="product-owner">Product Owner</label>
                                <input type="text" id="product-owner" name="owner" minlength="4" maxlength="25">
                            </div>
                            <div class="form-group checkbox">
                                <input type="checkbox" name="onSale" id="product-sale" value="true">
                                <label for="product-sale">On Sale</label>
                            </div>
                            <button class="btn" type="submit">Create</button>
                        </form>
                    </div>
                </div>
            </section>
        </main>

        <!-- Footer -->
        <footer id="footer" class="box-shadow">
            <p class="text-center">Copyright &#169; My Website 2022</p>
        </footer>
    </body>
</html>
