@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background-color: #ddd;
    color: #333;
    font-size: 1.6rem;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
    margin-bottom: 3rem;
}

p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

/* Utilities */
.container {
    width: 85%;
    margin: auto;
}
.bg-dark {
    background-color: #333;
    color: #fff;
}

.bg-dark a {
    color: #fff;
}

.bg-dark a:hover {
    color: #fc8;
    background-color: #555;
}

.lead {
    font-size: 2rem;
}

.heading-1 {
    font-size: 4rem;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: 700;
}

.text-italic {
    font-style: italic;
}

.title {
    font-size: 2rem;
    font-family: 700;
}

.letter-space {
    letter-spacing: 1rem;
}

.card {
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem;
}

.box-shadow {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.btn {
    border: none;
    background-color: #333;
    cursor: pointer;
    border-radius: 5px;
    padding: 1rem 2rem;
    color: #fff;
    display: block;
    margin: auto;
    text-align: center;
}

a.btn {
    color: #fff;
    font-size: 1.6rem;
    display: inline-block;
}

a.btn:hover {
    background-color: #555;
    color: #fc8;
}

.btn-light {
    background-color: #ddd;
    color: #333;
}

.mt-1 {
    margin-top: 1rem;
}


.m-auto {
    margin: auto;
}

.text-primary {
    color: #fc8;
}

.text-gray {
    color: #bbb
}

.text-light {
    font-weight: 200;
}

.current {
    background-color: #555;
    font-weight: 700;
}



/* nav */
nav ul {
    display: flex;
}

nav ul li a {
    display: block;
    padding: 1.3rem 2rem;
    margin: 0 0.5rem
}

/* index.html */
#content-main {
    padding: 1rem;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-main .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content-main .content-card {
    display: flex;
    justify-content: space-between;
}

.content-card .card {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* About Us */
#about-us {
    height: 100vh;
    display: flex;
    align-items: center;
}

#history-us {
    height: 100vh;
    display: flex;
    align-items: center;
}

/* Register */
#register {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#register .container {
    max-width: 400px;
}

form {
    padding: 15px 20px;
}

form h1 {
    padding-top: 30px;
}

.form-group {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.form-group>label {
    display: block;
    padding-bottom: 5px;
}

.form-group small {
    font-size: 1.4rem;
    padding-bottom: 5px;
}

.form-group>input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1.6rem;
}

.form-group>input:focus {
    outline: none;
    border-color: #fc8;
}

.radio-group {
    padding-left: 10px;
}

#tos {
    font-style: italic;
    font-size: 1rem;
}

/* profile */
#profile {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile .container {
    display: flex;
    justify-content: center;
}

#profile .profile-card {
    width: 400px;
}

#profile .card {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#profile .card-img {
    height: 69%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid #bbb;
}

#profile .profile-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

#profile .card-content {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile .card-content p {
    padding: 0 15px;
}

#acc-plan {
    justify-self: flex-start;
    display: inline-block;
    font-weight: 700;
    letter-spacing: .5rem;
    text-transform: uppercase;
}

#profile-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Song List */
#song-list {
    height: 100vh;
}

#song-list table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    background-color: #fff;
}

#song-list table th,
#song-list table td {
    border: 1px solid #eee;
    text-align: center;
    padding: 1.3rem 2rem;
}

#song-list table tbody tr td img {
    width: 100%;
    height: 150px;
}

#song-list table tbody tr:nth-child(even) {
    background-color: #ddd;
}

/* Album Preview */

#album {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#album .container .card {
    display: flex;
    padding: 0;
}

#album .album-img {
    width: 50%;
}

#album .album-content {
    width: 50%;
    background-color: #333;
    color: #fff;
    padding: 2rem 1rem;
}

#album .album-img img {
    width: 100%;
    height: 100%;
}

#album-title {
    font-family: 'Dancing Script', cursive;
    font-size: 6rem;
}

#artist-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

#album-description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2.5;
}

#album ol {
    padding: 0 5rem;
    margin-bottom: 2rem;
    opacity: .9;
}

#album-price {
    font-weight:lighter;
    text-align: right;
    opacity: 0.3;
}

#song-name {
    opacity: 0.8;
}
