/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* Variable Warna */
:root {
    --color-primary: #2a4;
    --color-secondary: #08d;
    --color-warning: #d34;
    --color-black: #111;
    --color-dark: #333;
}

.container {
    max-width: 95%;
    margin: 0 auto;
}

/* Text Color */
.text-primary {
    color: var(--color-primary);
}

.text-white {
    color: #fff;
}

/* text weight */
.text-normal {
    font-weight: 400;
}

/* text-size */
.logo {
    font-size: 55px;
}

.heading-2 {
    font-size: 40px;
}

.lead {
    font-size: 23px;
}

/* Text Align */
.text-center {
    text-align: center;
}

/* Background */
.bg-dark {
    background-color: var(--color-dark);
    color: #fff;
}

.bg-dark a{
    color: #fff;
}

/* padding */
.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.p-2 {
    padding: 2rem;
}

/* Margin */
.mt-2 {
    margin-top: 2rem;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

/* box-shadow */
.box-shadow {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* btn */
.btn {
    border: none;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background-color: var(--color-primary);
    color: #fff;
}

.btn-outline {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

/* Card */
.card {
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: #fff;
    color: #333;
    width: 250px;
    border-radius: 5px;
}

.card-img {
    padding: 1rem;
    border-bottom: 2px solid var(--color-dark);
    margin-bottom: 10px;
}

.card-content {
    text-align: center;
}

.card-content h2 {
    font-weight: 400;
}

/* flex */
.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}
/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 1rem 0;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

/* Index.HTML */

/* Header Index */
#header-index {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

#header-index nav ul li a {
    padding: 1rem 2rem;
}

#header-index nav ul li a:hover {
    border-bottom: 2px solid var(--color-primary);
}

/* Main Index */
#main-index .flex-items {
    display: flex;
    flex-direction: column;
}

#main-index .flex-items .row .flex-row {
    display: flex;
}

#main-index .flex-row .column:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-items .column {
    padding: 1rem;
}

#main-index .flex-items .row .flex-column .card-row {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

/* Footer */
footer {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    color: #fff;
    padding: 1rem 2rem;
    margin: 0 5px;
}

footer a:hover {
    border-bottom: 2px solid var(--color-primary);
}

/* Shopping list */
#shopping-list .flex-row {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: flex-end;
}

#shopping-list .card-container {
    max-width: 850px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
}

.form-container {
    max-width: 850px;
    margin: auto;
    padding: 10px;
    display: none;
}

.form-container.show {
    display: block;
}

.form-group {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group input:focus {
    outline: none;
}

.form-group textarea {
    width: 100%;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}

.form-container .form-row {
    display: flex;
}

.form-container .form-row .column {
    flex: 1;
    padding: 1rem;
}

.form-container .form-row .column:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px dashed #aaa;
    border-radius: 5px;
}



#contact {
    width: 100%;
    height: 100vh;
}

#contact .landing-page {
    width: 100%;
    height: 100%;
    background: url('../img/farm_contact_unsplash.jpg') no-repeat
    center center / cover
    ;
}

#contact .landing-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#contact .landing-page * {
    z-index: 1;
}

#contact .landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about {
    width: 100%;
    height: 100vh;
}

#about .landing-page {
    width: 100%;
    height: 100%;
    background: url('../img/farm_showcase_unsplash.jpg') no-repeat
    center center / cover
    ;
}

#about .landing-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#about .landing-page * {
    z-index: 1;
}

#about .content-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Responsive */
/* Mobile */
@media (max-width:768px) {
    /* Index.HTML */

    /* Header Index */
    #header-index {
        flex-direction: column;
        height: 120px;
        justify-content: space-evenly;
    }

    #header-index .logo {
        font-size: 40px;
    }

    /* Main Index Video */
    #main-index .flex-items .row .flex-row {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    /* Card Product */
    #main-index .card-row {
        flex-direction: column;
    }
}

@media (min-width:769px) and (max-width: 1075px) {
    /* Index HTML */
    #main-index .card-row .card:nth-child(3) {
        display: none;
    }
}

